.custom-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.main-container{
    width: 10rem;
}

.dropdown-elements{
    align-self: flex-start;
    margin-top: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border : 1px solid black;
    margin-left: 0.8em;
    width: 10rem;
    border-radius: 5px;
    padding-left: 1em;
    padding-top: 0.5em;
}

.parent{
    text-align: center;
}

.parent:hover {
   cursor: pointer;
   background-color: red;
}


.dropdown-container{
    display: flex;
    justify-content: center;
}

.option-1 button{
    /* outline:none; */
    background: none;
    border:none;
    cursor: pointer;
}

.list{
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s;
    list-style: none;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 0px;
    margin-left: 5px;
    border: 2px solid black;
    padding: 0.7rem;
    padding-right: 4rem;
    /* margin-top: 2rem; */
    z-index: 1;
    border-radius: 5px;
}

.option-1 button:focus + .list{
    visibility: visible;
    transform: translateY(0);
    border: 2px solid black;
    /* height: auto;
    width: auto; */
}

.option-1 button:hover + .list{
    height: auto;
    width: auto;
    visibility: visible;
    transform: translateY(0);
}

.list:hover{
    visibility: visible;
    transform: translateY(0);
    height: auto;
    width: auto;
}

.list > span{
    margin: 0.2rem 0;
}