.navigation-bar{
    background-color: green;
    height: 10vh;    
    display: flex;
}

.Logo{
    margin-top: 1vh;
    position: absolute;
}

.nav-options{
    margin-left: 10rem;
    display: flex;
    justify-content: center;
}

.nav-options > * {
    margin-top: 1.5rem;
}

.home{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.home:hover{
    color: aliceblue;
    font-size: 1.3rem;
    transition: 0.2s;
    cursor: pointer;
}

.dropdown-home{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    /* color: aliceblue; */
    font-size: 1.2rem;
}
